In [ ]:
import numpy as np
import pandas as pd

SERIES

it deals with one dimensional data

In [ ]:
s=[10,20,30,40]
pd.Series(s)

In [ ]:
pd.Series(s,index=['a','b','c','d'])

DATA FRAME:


a two dimensional data

In [ ]:
d={'name':['sandeep','chandu','raju','srikanth'],
   'percentage':[90,80,70,60]}
pd.DataFrame(d)

series:

1,empty series

2,series using array

3,series using list

4,deries using dictionary

In [ ]:
s=pd.Series([])
s

In [ ]:
a=np.array([10,20,30,40])
s=pd.Series(a)
s

In [ ]:
L=[10,20,30,40]
s=pd.Series(L)
s

In [ ]:
D={'a':10,'b':20,'c':30,'d':40}
s=pd.Series(D)
s

DATAFARAME:

1,load the data from excel

2,load the data from csv file

3,create df using dictionary

4,create df using list of tuples

In [ ]:
df=pd.read_excel('data.xlsx')
df

In [ ]:
df=pd.read_csv('data.csv')
df

In [ ]:
d={'name':['abc','def','ghs'],
   'perc':[90,85,75],
   'branch':['cse','ece','mech']}
df=pd.DataFrame(d)
df
#frame=pd.DataFrame(d,index=['a','b','c'])
#frame

In [ ]:
d=[('abc',90,'cse'),('def',85,'ece'),('ghs',75,'mech')]
df=pd.DataFrame(d)
df
#df=pd.DataFrame(d,columns=['name','perc','branch'])
#df

ATTRIBUTES

In [ ]:
s=pd.Series([10,20,30,40,50],
index=['a','b','c','d','e'],
name='numbers')
print(s)

In [ ]:
s.index

In [ ]:
s.array

In [ ]:
s.values

In [ ]:
s.dtype

In [ ]:
s.shape

In [ ]:
s.ndim

In [ ]:
s.nbytes

In [ ]:
s.memory_usage()

In [ ]:
s.memory_usage(index=False)

In [ ]:
s.size

In [ ]:
s.name

In [ ]:
s.empty

INDEXING & SLICING DATAFARAME

In [ ]:
df=pd.read_csv('/content/archive (2).zip')

In [ ]:
df

In [ ]:
df.head()

In [ ]:
df.head(3)

In [ ]:
df.tail()

In [ ]:
df.tail(6)

In [ ]:
df.describe()

In [ ]:

df.shape

In [ ]:
df.info()

In [ ]:
df.columns

In [ ]:
df['race/ethnicity']

In [ ]:
df['race/ethnicity'].head()

In [ ]:
df[['race/ethnicity','gender']].head(10)

In [ ]:
df[['race/ethnicity','gender']].tail(10)

In [ ]:
df[['race/ethnicity','math score','reading score']].head(10)

In [ ]:
df[1:10]#rows

In [ ]:
df[1:10:2]#gaap

In [ ]:
df[1:10:5]

In [ ]:
df[['race/ethnicity','math score','reading score']][1:6]

In [ ]:
df.loc[1]#single row will come

In [ ]:
df.loc[1:6]#multiple

In [ ]:
for index,rows in df.iterrows():
  print(index,rows)

In [ ]:
for index,rows in df.iterrows():
  print(index,rows[['race/ethnicity','math score','reading score']])

In [ ]:
df.loc[df['math score']==86]

In [ ]:
df.loc[df['race/ethnicity']=='group A']

MATHEMATICAL OPERATIONS

In [ ]:
S1=pd.Series([10,20,30,40,50])
S2=pd.Series([1,2,3,4,5])

In [ ]:
S1.add(S2)

In [ ]:
S1.sub(S2)

In [ ]:
S1.divide(S2)

In [ ]:
S1.mul(S2)

In [ ]:
S1.mod(S2)

In [ ]:
S1.pow(S2)

In [ ]:
S1.le(S2)

In [ ]:
S1.ge(S2)

In [ ]:
S1.equals(S2)

SORTING DATAFARME

In [ ]:
df.sort_values('math score')

In [ ]:
df.sort_values('race/ethnicity')

In [ ]:
df.sort_values('math score',ascending=False) #descending

In [ ]:
df.sort_values(['math score','reading score'])

In [ ]:
df.sort_values(['math score','reading score'],ascending=False)

In [ ]:
df.sort_values(['math score','reading score'],ascending=[True,False])#0=represents decending,1=represants ascending

MANIPULATING DATAFRAME(ADD COLUMN,DROP COLUMN)

In [ ]:
df

In [ ]:
df['total_marks']=0 #new column as created

In [ ]:
df #defaluit values zero

In [ ]:
df['total_marks']=df['math score']+df['reading score']+df['writing score']  #all subject marks stored in toetal marks

In [ ]:
df

In [ ]:
df.drop(columns='total_marks') #remove the columns but orginal  data not delete

In [ ]:
df[['math score','reading score','writing score','total_marks']]

In [ ]:
df[['race/ethnicity','total_marks']]

EXPORT DATAFRAME TO EXCEL,CSV & TEXTFILE

In [ ]:
df

In [ ]:
df['total_marks']=df['math score']+df['reading score']+df['writing score']
df

In [ ]:
df.to_excel('new_data.xlsx')
df

In [ ]:
df.to_csv('new_data.csv')
df

In [ ]:
df.to_csv('new_data.csv',index=False)
df

UNDER SATANDING LOC[] & ILOC[]


1,loc is retrive the data interms of rows coulmns label based data selecting method


2,iloc used retrive the data based upon the rows and columns it index based data selecting method

In [ ]:
df

In [ ]:
df.loc[3]

In [ ]:
df.loc[3,'gender']

In [ ]:
df.loc[0:4]

In [ ]:
df.loc[0:4,'gender']

In [ ]:
df.loc[0:4,['gender','race/ethnicity']]

In [ ]:
df.loc[0:4,['race/ethnicity','total_marks']]

In [ ]:
#df.iloc[0:4,'race/ethnicity':'total_marks] #get error becuse iloc index based data selecting method

In [ ]:
df.iloc[0:4,0:3]

* iloc last index value doesnot consider

In [ ]:
df.loc[0:4]

In [ ]:
df.iloc[0:4]

In [ ]:
df.iloc[0:4,0:7]

In [ ]:
df.iloc[0:4,0]

In [ ]:
df.iloc[[0,6]] #0 and 6 index 2 rows

In [ ]:
df.iloc[:,[0,7]] #0 and 7 columns will be display

HANDLING MISSING DATA(DROPNA & FILLNA)


* remove missinga data-dropna()

* fill with default values-Fillna()

In [ ]:
df

In [ ]:
df.dropna()

In [ ]:
df.dropna(inplace=True)

In [ ]:
df['test preparation course'].dropna()

In [ ]:
df.info()

In [ ]:
df.loc[:,['test preparation course','lunch']].dropna()

In [ ]:
df.fillna('missing')

In [ ]:
df['math score'].fillna(df['math score'].mean())

REMOVE DUPLICATES FROM DATAFRAME

In [ ]:
df.duplicated()

In [ ]:
df.drop_duplicates()